@use "./variables" as v;
/********** Header controls **********/
header {
  height: 55px;
  background-color: v.$color-primary;
  color: v.$color-white;
  font-family: v.$heading-font-family;
  font-size: v.$header-font-size;

  .header-nav-container,
  .header-nav-container > div {
    height: 55px;
  }
  .services-navigation-card {
    display: flex;
    height: 60px;
    z-index: 1;
    position: absolute;
    width: 100%;
    column-gap: 10px;
    background-color: v.$color-white;
    align-items: center;
    padding-left: 25px;
    box-shadow: 1px 1px 5px v.$color-black;
  }
  .header-nav {
    flex-basis: 65%;
    & + div {
      flex-basis: 35%;
      div {
        column-gap: 20px;
        align-items: center;
        justify-content: flex-end;
      }
      .rounded-pill {
        height: 36px;
        width: 140px;
      }
      .env-button {
        border-radius: v.$button-border-radius;
        background-color: v.$color-tertiary-accent;
        color: v.$color-fourth-accent;
        height: 40px;
        border: 1px solid v.$color-fourth-accent;
        padding: 0 10px;
      }
    }
    div {
      margin: 0px 15px;
      cursor: pointer;
      &:nth-child(1)::before,
      &:nth-child(2)::before,
      &:nth-child(3)::before,
      &:nth-child(4)::after {
        position: relative;
        top: 3px;
      }
      &:nth-child(1) {
        &::before {
          margin-right: 3px;
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.78249 7.7175C1.71116 7.64922 1.62705 7.5957 1.53499 7.56C1.3524 7.48499 1.14759 7.48499 0.964991 7.56C0.872928 7.5957 0.788819 7.64922 0.717491 7.7175C0.649211 7.78883 0.595687 7.87294 0.559991 7.965C0.502557 8.10158 0.486865 8.25212 0.514895 8.39761C0.542926 8.5431 0.613423 8.67703 0.717491 8.7825C0.790392 8.84875 0.874103 8.90202 0.964991 8.94C1.05477 8.97968 1.15184 9.00017 1.24999 9.00017C1.34814 9.00017 1.44522 8.97968 1.53499 8.94C1.62588 8.90202 1.70959 8.84875 1.78249 8.7825C1.88656 8.67703 1.95706 8.5431 1.98509 8.39761C2.01312 8.25212 1.99743 8.10158 1.93999 7.965C1.9043 7.87294 1.85077 7.78883 1.78249 7.7175V7.7175ZM4.24999 1.5H14.75C14.9489 1.5 15.1397 1.42098 15.2803 1.28033C15.421 1.13968 15.5 0.948912 15.5 0.75C15.5 0.551088 15.421 0.360322 15.2803 0.21967C15.1397 0.0790178 14.9489 0 14.75 0H4.24999C4.05108 0 3.86031 0.0790178 3.71966 0.21967C3.57901 0.360322 3.49999 0.551088 3.49999 0.75C3.49999 0.948912 3.57901 1.13968 3.71966 1.28033C3.86031 1.42098 4.05108 1.5 4.24999 1.5ZM1.78249 3.9675C1.67702 3.86343 1.54309 3.79293 1.3976 3.7649C1.25211 3.73687 1.10157 3.75257 0.964991 3.81C0.874103 3.84798 0.790392 3.90125 0.717491 3.9675C0.649211 4.03883 0.595687 4.12294 0.559991 4.215C0.520312 4.30478 0.499817 4.40185 0.499817 4.5C0.499817 4.59815 0.520312 4.69522 0.559991 4.785C0.597973 4.87589 0.651243 4.9596 0.717491 5.0325C0.790392 5.09875 0.874103 5.15202 0.964991 5.19C1.05477 5.22968 1.15184 5.25017 1.24999 5.25017C1.34814 5.25017 1.44522 5.22968 1.53499 5.19C1.62588 5.15202 1.70959 5.09875 1.78249 5.0325C1.84874 4.9596 1.90201 4.87589 1.93999 4.785C1.97967 4.69522 2.00017 4.59815 2.00017 4.5C2.00017 4.40185 1.97967 4.30478 1.93999 4.215C1.9043 4.12294 1.85077 4.03883 1.78249 3.9675V3.9675ZM14.75 3.75H4.24999C4.05108 3.75 3.86031 3.82902 3.71966 3.96967C3.57901 4.11032 3.49999 4.30109 3.49999 4.5C3.49999 4.69891 3.57901 4.88968 3.71966 5.03033C3.86031 5.17098 4.05108 5.25 4.24999 5.25H14.75C14.9489 5.25 15.1397 5.17098 15.2803 5.03033C15.421 4.88968 15.5 4.69891 15.5 4.5C15.5 4.30109 15.421 4.11032 15.2803 3.96967C15.1397 3.82902 14.9489 3.75 14.75 3.75ZM1.78249 0.2175C1.71116 0.14922 1.62705 0.0956957 1.53499 0.0599999C1.39841 0.00256537 1.24787 -0.0131265 1.10238 0.0149041C0.956889 0.0429347 0.822959 0.113432 0.717491 0.2175C0.651243 0.290401 0.597973 0.374111 0.559991 0.465C0.520312 0.554775 0.499817 0.651847 0.499817 0.75C0.499817 0.848153 0.520312 0.945225 0.559991 1.035C0.597973 1.12589 0.651243 1.2096 0.717491 1.2825C0.790392 1.34875 0.874103 1.40202 0.964991 1.44C1.10157 1.49743 1.25211 1.51313 1.3976 1.4851C1.54309 1.45707 1.67702 1.38657 1.78249 1.2825C1.84874 1.2096 1.90201 1.12589 1.93999 1.035C1.97967 0.945225 2.00017 0.848153 2.00017 0.75C2.00017 0.651847 1.97967 0.554775 1.93999 0.465C1.90201 0.374111 1.84874 0.290401 1.78249 0.2175V0.2175ZM14.75 7.5H4.24999C4.05108 7.5 3.86031 7.57902 3.71966 7.71967C3.57901 7.86032 3.49999 8.05109 3.49999 8.25C3.49999 8.44891 3.57901 8.63968 3.71966 8.78033C3.86031 8.92098 4.05108 9 4.24999 9H14.75C14.9489 9 15.1397 8.92098 15.2803 8.78033C15.421 8.63968 15.5 8.44891 15.5 8.25C15.5 8.05109 15.421 7.86032 15.2803 7.71967C15.1397 7.57902 14.9489 7.5 14.75 7.5Z' fill='white'/%3e%3c/svg%3e ");
        }
      }
      &:nth-child(2) {
        &::before {
          margin-right: 3px;
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 11L8.29289 11.7071L9 12.4142L9.70711 11.7071L9 11ZM10 4.25C10 3.69772 9.55228 3.25 9 3.25C8.44772 3.25 8 3.69772 8 4.25L10 4.25ZM4.54289 7.95711L8.29289 11.7071L9.70711 10.2929L5.95711 6.54289L4.54289 7.95711ZM9.70711 11.7071L13.4571 7.95711L12.0429 6.54289L8.29289 10.2929L9.70711 11.7071ZM10 11L10 4.25L8 4.25L8 11L10 11Z' fill='white'/%3e%3cpath d='M3.75 12.5L3.75 13.25C3.75 14.0784 4.42157 14.75 5.25 14.75L12.75 14.75C13.5784 14.75 14.25 14.0784 14.25 13.25V12.5' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
        }
      }
      &:nth-child(3) {
        &::before {
          position: relative;
          margin-right: 3px;
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 11L8.29289 11.7071L9 12.4142L9.70711 11.7071L9 11ZM10 4.25C10 3.69772 9.55228 3.25 9 3.25C8.44772 3.25 8 3.69772 8 4.25L10 4.25ZM4.54289 7.95711L8.29289 11.7071L9.70711 10.2929L5.95711 6.54289L4.54289 7.95711ZM9.70711 11.7071L13.4571 7.95711L12.0429 6.54289L8.29289 10.2929L9.70711 11.7071ZM10 11L10 4.25L8 4.25L8 11L10 11Z' fill='white'/%3e%3cpath d='M3.75 12.5L3.75 13.25C3.75 14.0784 4.42157 14.75 5.25 14.75L12.75 14.75C13.5784 14.75 14.25 14.0784 14.25 13.25V12.5' stroke='white' stroke-width='2'/%3e%3c/svg%3e ");
        }
      }
      &:nth-child(4) {
        &::after {
          position: relative;
          margin-left: 10px;
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.18077 7.07967L0.291993 2.95285C-0.357528 2.02496 0.306286 0.75 1.43892 0.75L6.56108 0.75C7.69371 0.75 8.35753 2.02496 7.70801 2.95285L4.81923 7.07967C4.42113 7.64839 3.57887 7.64838 3.18077 7.07967Z' fill='white'/%3e%3c/svg%3e ");
        }
      }
    }
  }
}
/********** /Header controls **********/
