@use "./variables" as v;
/********** Section controls **********/
section {
  &.control-section-container {
    height: 150px;
    background-color: v.$color-white;
    > div {
      height: 100%;
      > div {
        height: 100px;
      }
    }
    & > div {
      height: 130px;
      display: flex;
      align-items: center;
    }
    .control-section-inner-container {
      margin: 0;
      padding: 0;

      &:nth-child(1) {
        width: 30%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 5%;
      }
      &:nth-child(4) {
        width: 20%;
      }
      .control-section {
        & > div {
          position: relative;
          margin: 4px 0px;
        }
        .search-region-wrapper {
          display: flex;
          column-gap: 10px;
          .pushpin {
            width: 30px;
            height: 30px;
            position: relative;
            top: 7px;
            cursor: pointer;
            content: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3c!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3e%3csvg width='30px' height='30px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3emap_pin_line%3c/title%3e%3cg id='页面-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Map' transform='translate(-912.000000, 0.000000)'%3e%3cg id='map_pin_line' transform='translate(912.000000, 0.000000)'%3e%3cpath d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z' id='MingCute' fill-rule='nonzero'%3e%3c/path%3e%3cpath d='M12,4 C10.3431,4 9,5.34315 9,7 C9,8.65685 10.3431,10 12,10 C13.6569,10 15,8.65685 15,7 C15,5.34315 13.6569,4 12,4 Z M7,7 C7,4.23858 9.23858,2 12,2 C14.7614,2 17,4.23858 17,7 C17,9.41896 15.2822,11.4367 13,11.9 L13,17 C13,17.5523 12.5523,18 12,18 C11.4477,18 11,17.5523 11,17 L11,11.9 C8.71776,11.4367 7,9.41896 7,7 Z M9.4886,16.1008 C9.57175,16.6468 9.19654,17.1568 8.65055,17.2399 C7.37324,17.4344 6.35762,17.7286 5.69077,18.0552 C4.47156,18.6523 5.89681,19.0806 6.64142,19.3133 C7.9685,19.728 9.86323,20 12,20 C14.1368,20 16.0315,19.728 17.3586,19.3133 C18.1076,19.0792 19.529,18.6526 18.3092,18.0552 C17.6424,17.7286 16.6268,17.4344 15.3495,17.2399 C14.8035,17.1568 14.4283,16.6468 14.5114,16.1008 C14.5945,15.5548 15.1046,15.1796 15.6505,15.2627 C17.0375,15.4739 18.2719,15.8099 19.1889,16.2591 C20.0728,16.6919 21,17.4205 21,18.5 C21,19.3114 20.4757,19.9005 19.9656,20.2774 C17.8169,21.8649 14.5369,22 12,22 C9.71849,22 7.61323,21.7124 6.04487,21.2222 C4.79554,20.8318 3,20.0624 3,18.5 C3,17.4205 3.92723,16.6919 4.81105,16.2591 C5.72815,15.8099 6.96253,15.4739 8.34945,15.2627 C8.89544,15.1796 9.40546,15.5548 9.4886,16.1008 Z' id='形状' fill='%2309244B'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
            //content: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3e%3csvg fill='%23000000' height='25px' width='25px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 216.221 216.221' xml:space='preserve'%3e%3cg%3e%3cpath d='M202.658,203.535l-22.306-30.454c-2.861-3.911-8.698-6.86-13.578-6.86H49.447c-4.88,0-10.717,2.949-13.577,6.858 l-22.307,30.457c-2.071,2.829-2.5,5.948-1.177,8.558c1.331,2.623,4.126,4.127,7.668,4.127h176.112c3.541,0,6.336-1.504,7.666-4.126 C205.157,209.485,204.729,206.366,202.658,203.535z'/%3e%3cpath d='M93.654,135.558c10.184,9.524,12.858,9.524,14.457,9.524c8.924,0,33.494-30.003,33.74-30.306 c12.105-14.934,26.535-36.511,26.535-54.5C168.387,27.04,141.348,0,108.111,0C74.874,0,47.834,27.04,47.834,60.276 c0,17.963,14.477,39.554,26.62,54.504C80.602,122.349,87.421,129.728,93.654,135.558z M80.797,59.848 c0-15.173,12.344-27.517,27.517-27.517s27.517,12.344,27.517,27.517s-12.344,27.517-27.517,27.517S80.797,75.021,80.797,59.848z'/%3e%3c/g%3e%3c/svg%3e");

            &-active {
              content: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3c!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3e%3csvg width='30px' height='30px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3emap_pin_fill%3c/title%3e%3cg id='页面-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Map' transform='translate(-912.000000, -48.000000)'%3e%3cg id='map_pin_fill' transform='translate(912.000000, 48.000000)'%3e%3cpath d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z' id='MingCute' fill-rule='nonzero'%3e%3c/path%3e%3cpath d='M7,7 C7,4.23858 9.23858,2 12,2 C14.7614,2 17,4.23858 17,7 C17,9.41896 15.2822,11.4367 13,11.9 L13,17 C13,17.5523 12.5523,18 12,18 C11.4477,18 11,17.5523 11,17 L11,11.9 C8.71776,11.4367 7,9.41896 7,7 Z M9.4886,16.1008 C9.57175,16.6468 9.19654,17.1568 8.65055,17.2399 C7.37324,17.4345 6.35762,17.7286 5.69077,18.0552 C5.35587,18.2192 5.15685,18.3684 5.05419,18.4767 C5.04603,18.4853 5.03886,18.4932 5.03256,18.5005 C5.06568,18.5389 5.12363,18.5955 5.22292,18.6688 C5.50289,18.8757 5.97193,19.1041 6.64142,19.3133 C7.9685,19.728 9.86323,20 12,20 C14.1368,20 16.0315,19.728 17.3586,19.3133 C18.0281,19.1041 18.4971,18.8757 18.7771,18.6688 C18.8764,18.5955 18.9343,18.5389 18.9674,18.5005 C18.9611,18.4932 18.954,18.4853 18.9458,18.4767 C18.8431,18.3684 18.6441,18.2192 18.3092,18.0552 C17.6424,17.7286 16.6268,17.4345 15.3495,17.2399 C14.8035,17.1568 14.4283,16.6468 14.5114,16.1008 C14.5945,15.5548 15.1046,15.1796 15.6505,15.2627 C17.0375,15.4739 18.2719,15.8099 19.1889,16.2591 C19.646,16.4829 20.0725,16.7581 20.3973,17.1007 C20.7267,17.4482 21,17.9208 21,18.5 C21,19.3114 20.4757,19.9005 19.9656,20.2774 C19.4359,20.6688 18.7334,20.9791 17.9551,21.2223 C16.3868,21.7124 14.2815,22 12,22 C9.71849,22 7.61323,21.7124 6.04487,21.2223 C5.26665,20.9791 4.56412,20.6688 4.03444,20.2774 C3.52434,19.9005 3,19.3114 3,18.5 C3,17.9208 3.27333,17.4482 3.60275,17.1007 C3.92755,16.7581 4.35398,16.4829 4.81105,16.2591 C5.72815,15.8099 6.96253,15.4739 8.34945,15.2627 C8.89544,15.1796 9.40546,15.5548 9.4886,16.1008 Z' id='形状' fill='%2309244B'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
            }
          }
        }
        .logo {
          font-family: v.$heading-font-family;
          font-weight: v.$base-font-weight-600;
          font-size: 1.5em;
        }
        .add-region {
          flex-flow: column wrap;
          align-content: flex-end;
          display: flex;
        }
        .control-section-header-text {
          font-family: v.$heading-font-family;
          font-size: v.$table-column-header-font-size;
        }
        .region-border-icon-description {
          position: relative;
          top: -2px;
          left: 8px;
          &.togglePPP::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='6' viewBox='0 0 50 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='3' x2='50' y2='3' stroke='black' stroke-width='5'/%3e%3c/svg%3e ");
          }
          &.toggleMarketing::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='6' viewBox='0 0 50 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='3' x2='50' y2='3' stroke='%23006ED4' stroke-width='5' stroke-dasharray='10 10'/%3e%3c/svg%3e ");
          }
          &.toggleDisplay::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='50' height='6' viewBox='0 0 50 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='3' x2='50' y2='3' stroke='%23FF00F5' stroke-width='5' stroke-dasharray='20 20'/%3e%3c/svg%3e ");
          }
        }
      }
    }
  }
}
/********** /Section controls **********/
